:root {
  --bg-main: #FDF8F5;
  --bg-soft: #F3EDE8;

  --accent-peach: #E8A598;
  --accent-burgundy: #8C3A3A;
  --accent-sage: #A3B18A;
  --accent-mustard: #E0B04B;

  --text-main: #3A2E2A;
  --white: #ffffff;
}

body {
    padding: 0;
    margin: 0;

    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    padding: 20px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 100;

    background-color: var(--accent-mustard);
}

.header-logo {
    margin: 0 auto;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header-links img {
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin: 0 5px;
}

.home {
    color: #111;
    text-decoration: none;
}

.icon {
    height: 50px;
    width: auto;
    margin: 0 10px;
    vertical-align: middle;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2rem;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.hero-text h1 {
    font-family: 'Cooper Black', serif;
}

.hero-text p {
    line-height: 1.6;
}

.hero-text-inner {
    max-width: 400px;
}

.hero-img {
  width: 500px;
  aspect-ratio: 1/1;

  mask-image: url(flower.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url("flower.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro {
    font-weight: 700;
}

.cta-button {
    padding: 12px 20px;
    background: var(--accent-peach);
    color: var(--white);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.cta-button:hover {
    background-color: var(--accent-burgundy);
}

/* OM MEG */

.about {
    padding: 6rem 2rem;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

/* PROSJEKTER */

.projects {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.projects-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* .projects-grid img{
    height: 40rem;
    width: auto;
    object-fit: cover;
    display: block;
} */

.project-card {
    text-decoration: none;
    color: inherit; /* Tvinger teksten til å få samme farge fra sitt direkte overordnede element */
    overflow: hidden;
}

.project-card img {
    height: 40rem;
    width: 100%; 
    object-fit: cover;
    border-radius: 8px;
}

.project-card h3 {
    text-align: center;
    padding: 15px;
}

/* FOOTER */

.site-footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #333;
}